header{
	font-family: "SF Pro SC","HanHei SC","SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}
footer{
	height: 100px;
	bottom: 0px;
	line-height: 100px;
	text-align: center;
	font-size: 12px;
	color: #999;
}

.container{
	/*width: 1020px;*/
}

.black-level1{color: #333;}
.black-level2{color: #666;}
.black-level3{color: #999;}
.black-level4{color: #ddd;}

.index-header{
	height: 80px;
	line-height: 80px;
	font-size: 16px;
}
.common-title{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	font-size: 16px;
}
.common-title span{
	display: inline-block;
	padding: 0px 20px;
	border-bottom: 3px solid #666;
	height: 41px;
}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}

.number_content{
	border:1px solid #ddd;
}
.number_content .number_index a{
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #f9f9f9;
	color: #333;
}
.brand_content a{
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.hover{
	background: white !important;
}
.city_area{
	border-bottom: 1px solid #ddd;
	padding: 10px 0px;
}
.city_area a{
    display: inline-block;
    line-height: 31px;
    padding: 0px 0px;
    width: 88px;
    text-align: center;
}
.city_area .active{
	font-weight: bold;
	color: #333;
}
.hot-brand .title{
	width: 35px;
	padding: 10px 0px;
	background: #ddd;
}
.hot-brand td{
	background: #f5f5f5;
}

.cities_area a{
	width: 100px;
	display: inline-block;
	line-height: 40px;
}
